<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item-amulet-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>item-armor-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>item-big-sword-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>item-boot-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{119,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,168}}</string>
                <key>sourceSize</key>
                <string>{119,168}</string>
            </dict>
            <key>item-cape-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>item-elixir-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>item-helmet-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>item-lockpicker-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>item-potion-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{121,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,169}}</string>
                <key>sourceSize</key>
                <string>{121,169}</string>
            </dict>
            <key>item-resurrection-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1533},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>item-staff-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1703},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{125,1873}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07206337024e9ff19619e3e26fdd28cb:cd79ae99d5713d35b78d5700debd93df:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
