<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>hero-braver-large.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{500,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,700}}</string>
                <key>sourceSize</key>
                <string>{500,700}</string>
            </dict>
            <key>hero-warrior-large.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{500,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,700}}</string>
                <key>sourceSize</key>
                <string>{500,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>large.jpg</string>
            <key>size</key>
            <string>{504,1448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0ba1405f7793ca09e73d4cf5ddd0625:990d3fe8d87a1d2759f740d9f3a5b336:e8a6cd676354035b081f2f76ea64f7a0$</string>
            <key>textureFileName</key>
            <string>large.jpg</string>
        </dict>
    </dict>
</plist>
