<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>room-blacksmith-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>room-hen-den-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>room-library-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>room-prison-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>room-spoiled-food-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>room-vault-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{119,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,168}}</string>
                <key>sourceSize</key>
                <string>{119,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{124,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f20b7298a657e36d866d0d1a25bf3c5:57d37fd2c24dec51bfd8a9259b3a6d8d:9cabe332c4455e9d61bfbf6c3ac19176$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
