<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>attack-all-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-first-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-first2-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-first3-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-last-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-last2-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-last3-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-random-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>beer-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>book-menu-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,119},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>book-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,119},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>build-menu-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,119},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>build-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,119},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>card-desc-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{120,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,78}}</string>
                <key>sourceSize</key>
                <string>{120,78}</string>
            </dict>
            <key>card-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>choice-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,799},{540,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,180}}</string>
                <key>sourceSize</key>
                <string>{540,180}</string>
            </dict>
            <key>choice-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,799},{540,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,180}}</string>
                <key>sourceSize</key>
                <string>{540,180}</string>
            </dict>
            <key>cross-sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>defense-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>dungeon-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,119},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>give-up-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hero-amazon-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,289},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>hero-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,459},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>hero-braver-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,289},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>hero-monk-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,459},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>hero-ninja-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,629},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>hero-ranger-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>hero-warrior-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,459},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>hp-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>item-treasure-chest-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,289},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>level-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>long-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,57},{420,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,60}}</string>
                <key>sourceSize</key>
                <string>{420,60}</string>
            </dict>
            <key>long-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,57},{420,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,60}}</string>
                <key>sourceSize</key>
                <string>{420,60}</string>
            </dict>
            <key>meeple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,2},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>money-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>monster-dragon-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,629},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-fire-element-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,459},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-ghost-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,459},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-golem-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,459},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-lich-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,459},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-lizard-man-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,459},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-medusa-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,459},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-minotaur-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,629},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-ooze-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,629},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-orc-bandit-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,629},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-orc-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,799},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-orc-warlord-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-ratman-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,629},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-skeleton-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,629},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-spider-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,629},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-titan-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,629},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-zombie-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,629},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>pierce-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>play-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>poison-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>rip-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>room-hen-den-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,119},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>room-library-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,289},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>room-vault-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{119,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,168}}</string>
                <key>sourceSize</key>
                <string>{119,168}</string>
            </dict>
            <key>score-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>short-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,57},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>short-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,57},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>slow-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>spell-fireball-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,289},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>spell-lightening-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,289},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>spell-magic-missile-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,459},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>spell-war-drum-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>throne-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,119},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>trample-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>trap-arrow-trap-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,289},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>trap-pitfall-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,289},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>trap-poison-gas-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,289},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>trap-rolling-boulder-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,289},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>upgrade-menu-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,119},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>upgrade-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,119},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>vault-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,119},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>small.png</string>
            <key>size</key>
            <string>{1384,981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c75b7c63cd9a068b47a8988f40a9ff36:bf0d326d70d6d7815ecc4938856de53d:f201e7d3bf7f17b70520e53250e1ae4f$</string>
            <key>textureFileName</key>
            <string>small.png</string>
        </dict>
    </dict>
</plist>
