<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>attack-all-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-first-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-last-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>attack-random-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>beer-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>book-menu-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,543},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>book-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>build-menu-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,421},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>build-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,421},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>card-desc-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,299},{120,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,78}}</string>
                <key>sourceSize</key>
                <string>{120,78}</string>
            </dict>
            <key>card-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>cross-sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>defense-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>dungeon-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,875},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>give-up-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hero-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,705},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>hero-braver-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>hero-warrior-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1385},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>hp-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>item-treasure-chest-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1045},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>level-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>long-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{420,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,60}}</string>
                <key>sourceSize</key>
                <string>{420,60}</string>
            </dict>
            <key>long-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{420,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,60}}</string>
                <key>sourceSize</key>
                <string>{420,60}</string>
            </dict>
            <key>meeple.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,52},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>money-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>monster-dragon-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1385},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-fire-element-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1385},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-ghost-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1215},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-golem-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1215},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-lich-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1215},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-lizard-man-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1385},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-medusa-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1555},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-minotaur-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1725},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-ooze-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1725},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-orc-bandit-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1725},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-orc-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1725},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-orc-warlord-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1555},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-ratman-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1555},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-skeleton-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1555},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-spider-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1215},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-titan-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1045},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-zombie-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,705},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>play-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>rip-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,52},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>room-arrow-trap-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>room-vault-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,875},{119,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,168}}</string>
                <key>sourceSize</key>
                <string>{119,168}</string>
            </dict>
            <key>score-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>short-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>short-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>spell-fireball-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>spell-lightening-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,875},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>spell-magic-missile-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,705},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>spell-war-drum-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1045},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>throne-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,543},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>upgrade-menu-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,299},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>upgrade-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>vault-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,421},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>small.png</string>
            <key>size</key>
            <string>{490,1895}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fadd7ec1a8e0a06f783e30c18c4f731:f9e3359e8346780605cd21f286f9836e:f201e7d3bf7f17b70520e53250e1ae4f$</string>
            <key>textureFileName</key>
            <string>small.png</string>
        </dict>
    </dict>
</plist>
