<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster-basilisk-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-dark-elf-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-dragon-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-gargoyle-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-ghost-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-imp-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-lich-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-lilith-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>monster-minotaur-small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{124,1532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d9d0ea346e807eb366299ba14c35cc9:a0b330c31261ac09144f93fcd1b36901:a6ae2b9304b7a9e734cf6a25f3604866$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
